@using Sitecore.Mvc
<!DOCTYPE html>
<!--[if IE 9]><html lang="@Sitecore.Context.Site.Language" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="@Sitecore.Context.Site.Language" class=" no-js">
<!--<![endif]-->
<body ontouchstart="">
    <div class="viewport"> 
            @Html.Sitecore().Placeholder(Sitecore.Context.Item["PlaceholderName"])
    </div>
</body>

</html>